[2018-07-02 15:00] lmiller1990 opened #2 "翻訳: コンポーネントをレンダーガイド"
English -> Japanese

https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/rendering-a-component.md

[2018-07-02 15:05] lmiller1990 opened #3 "Write about propsData"
https://github.com/lmiller1990/vue-testing-handbook/blob/master/docs/components-with-props.md

Write about `propsData`. Some ideas:

- component receives and renders a prop. Show how to test that. Better yet, write the test first, and then the component, using the error messages to guide your development
- factory functions. Often you end up with tests like this:

[code]

We can introduce a factor

[2018-07-02 15:07] lmiller1990 opened #4 "propsDataについて書きます"
これに参考してください（英語）https://github.com/lmiller1990/vue-testing-handbook/issues/3

ここに書いてください。 https://github.com/lmiller1990/vue-testing-handbook/blob/master/docs/ja/components-with-props.md

テストコードも追加してください。`demo-app`。好きなようにコンポーネントなどを作ってもいいです。TDDで説明するととてもいいです。

[2018-07-02 16:01] lmiller1990 opened #5 "イベントのテストについて書く"
https://github.com/lmiller1990/vue-testing-handbook/blob/master/docs/ja/testing-emitted-events.md

[2018-07-03 04:33] lmiller1990 opened #8 "(English) Stubbing components"
I would like to write about

https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/stubbing-components.md

Things I think are useful:

- talk about the different ways to stub: https://vue-test-utils.vuejs.org/api/options.html#stubs
- talk about why to stub (for example, so a child component does not make an API request)
- how to assert a stubbed component was still rendered `find({ n

[2018-07-03 07:47] yk-hirao commented on #4
I will write this.

[2018-07-03 07:49] yk-hirao commented on #4
this is correct link
https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/ja/components-with-props.md

[2018-07-03 08:01] lmiller1990 commented on #4
ok, I think we should also talk about
- [`setProps`](https://vue-test-utils.vuejs.org/api/wrapper/#setprops-props)
- ['props()`](https://vue-test-utils.vuejs.org/api/wrapper/#props)

[2018-07-03 08:10] yk-hirao commented on #4
I think I should do two things from https://github.com/lmiller1990/vue-testing-handbook/issues/3

First, To write about `factory functions`
Second, how to use `propsData`

The first is almost finish writing, by @lmiller1990 at the file. Nice job :) So I will update docs a little.
The second, I thought I create `ColorButton.vue`, has two props, `text` and `color`.

||required|default|
|:-:|:-:|:-:|

[2018-07-03 08:13] yk-hirao commented on #4
`ColorButton.vue` ってファイルだといい感じにファクトリ関数とpropsDataを渡すテストをかけそうな気がした！

[2018-07-03 08:16] lmiller1990 commented on #4
Sounds good. But I think the order should be the other way around. First, you write two tests. It will look something like this:

[code]

Once the user sees the that we have to write the same thing twice, the benefit of a factory function will be more obvious. Talk about what a factory function is (a factory function is a function that returns a object), and show how we can use it to make our test

[2018-07-03 08:16] lmiller1990 commented on #4
1. write component/test
2. tests are passing
3. explain factory function
4. implement factory
5. tests are still passing!

[2018-07-03 08:17] lmiller1990 commented on #4
Also I like the table to show the props + required/default. Great!

Maybe the next step is a PR (WIP is fine).

[2018-07-03 08:18] yk-hirao commented on #4
@lmiller1990
Thank you your comment :) I will!!

[2018-07-04 04:51] lmiller1990 commented on #8
closed by #9

[2018-07-04 04:51] #8 closed

[2018-07-05 12:41] lmiller1990 opened #12 "Computed properties"
PR: #11

Any ideas are welcome!

[2018-07-05 13:31] #12 closed

[2018-07-05 13:35] lmiller1990 opened #13 "Add code ref to computed guide"
https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/computed-properties.md

Should have a link to the test and component at the top and bottom, [like here](https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/stubbing-components.md).

[2018-07-06 15:02] lmiller1990 opened #15 "翻訳: コンポーネントをスタブガイド"
英語→日本語

https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/stubbing-components.md

[2018-07-07 05:05] #5 closed

[2018-07-09 15:24] lmiller1990 opened #18 "Write about `trigger`"
Things to talk about:

1. trigger
2. testing async (API call)
3. mocking the ajax lib
4. flush-promises

[2018-07-11 10:15] #4 closed

[2018-07-11 10:18] #3 closed

[2018-07-12 05:19] lmiller1990 opened #19 "Improve deploy flow"
1. should deploy on merge to master (generate docs folder, etc)
2. use Travis CI to lint the documentation/code, and run the tests.

[2018-07-12 07:38] ykhirao opened #20 "翻訳: Work on trigger guide (ja)"
こちらのPRの翻訳記事を書く#17
書きたい人がいたらComment

[2018-07-12 14:53] lmiller1990 commented on #20
とりあえずアサインした！

Thanks for your contributions.

[2018-07-12 14:54] lmiller1990 opened #21 "Translate props guide to English"
Japanese has props guide, let's translate it.

[2018-07-12 15:15] ykhirao commented on #20
Okay, I will 👍

[2018-07-13 08:01] Fanyu7 commented on #2
@lmiller1990  私やってみます。アサインお願いします

[2018-07-13 08:39] lmiller1990 commented on #2
Thanks!

[2018-07-13 09:18] yk-hirao commented on #2
@lmiller1990 `self-assigned` w

[2018-07-13 12:37] lmiller1990 commented on #2
間違った

@Fanyu7  にアサインする

[2018-07-13 14:39] #18 closed

[2018-07-14 07:02] lmiller1990 opened #24 "Vuex in components guide"
Add guide testing about Vuex in components

[2018-07-14 07:03] lmiller1990 opened #26 "Testing Vuex actions and mutations"
Add a guide about testing mutations and actions in components, using jest.fn()

[2018-07-14 07:12] #24 closed

[2018-07-15 09:56] lmiller1990 opened #27 "Mocks guide"
Talk about how to use the mocks mounting object

[2018-07-15 09:59] #27 closed

[2018-07-16 06:00] lmiller1990 opened #29 "Translate computed props guide to Japanese"
https://lmiller1990.github.io/vue-testing-handbook/computed-properties.html

to Japanese

[2018-07-16 07:18] lmiller1990 opened #31 "Add guide about testing mutations in isolation"
Mutations are just regular JS functions, so the guide should be pretty short and simple.

[2018-07-16 07:19] #31 closed

[2018-07-19 05:05] lmiller1990 commented on #26
resolves in  #34

[2018-07-19 05:05] #26 closed

[2018-07-20 04:13] lmiller1990 commented on #21
done!

[2018-07-20 04:13] #21 closed

[2018-07-20 04:46] t-niiru opened #35 "README.mdの日本語を綺麗にする"
日本語の体裁を整える

[2018-07-20 06:52] yk-hirao opened #37 "(ja) Add how to test input element"
We should add a guide on testing forms and inputs. They are a common occurrence in almost all applications.

Talk about how to set a value using `wrapper.find('input').element.value`. Also the new APIs, `setValue`, `setSelected`, `setChecked`. https://vue-test-utils.vuejs.org/api/wrapper/#setvalue-value

We should support both English and Japanese.
_____

エレメントへのアクセスはこちらが標準的 by https://github.com/

[2018-07-22 05:34] lmiller1990 opened #38 "Write outline for remaining sections"
Some pages are blank. We should include at least an outline of what kind of content to write, so people can get started.

[2018-07-22 05:35] lmiller1990 opened #39 "New sections?"
Some sections of Vue testing are not yet covered.

1. Vue router
2. functional components?
3. plugins?
4. snapshot testing?

Any ideas for new sections can be discussed here!

[2018-07-22 05:42] #38 closed

[2018-07-23 00:50] yk-hirao commented on #39
How about testing DOM change like `document.qeurySelector`.
This test use just jest function, not Vue-test-utils.

But I think a lot of people use jQuery (or `querySelector`) on Vue.js, so this is a valuable section.

ないよりはあったほうがいいかなと思う。どうだろう？

[2018-07-23 03:04] yk-hirao opened #41 "(ja) Unit test nearly e2e test"
Please see this youtube

https://www.youtube.com/watch?v=OIpfWTThrK8&feature=youtu.be&t=7m47s

[code]

子コンポーネントから$emitを呼び出して親コンポーネントのメソッドが発火されるかどうかのテストができる。

Unitテストというよりe2eテストに近くなっていますが、こんな書き方もあるのでこれについて記事を書く。

[2018-07-23 04:58] lmiller1990 commented on #41
There is not much information about this, even in English. I think this would be a great guide to add. Would you like to work on it? I can translate it to English.

[2018-07-23 05:00] lmiller1990 opened #43 "Routing guide"
There is not much information anywhere about testing Vue router. I'll work on a guide for it.

I think we should discuss:

1. use with an actual vue router instance
2. use with a mock router
3. e2e testing (you can write e2e like tests using Vue test utils, too). For example

[code]

[2018-07-23 05:01] lmiller1990 commented on #43
WIP: #42

[2018-07-23 05:06] lmiller1990 commented on #39
Actually yes, this should be a priority. I see two common cases:

1. testing Vue in apps that also use jquery (I think this is very common)
2. Testing Vue components that use other Vue libraries. The main libraries I see often are vee-validate, vuetify, and element-ui.

I have never written a test using both Vue and jquery, but it should be easy enough. https://jestjs.io/docs/en/tutorial-jquery

W

[2018-07-24 07:55] pinball1973b opened #44 "vue-testing-handbook用　OGP用画像/favicon"
https://vuepress.vuejs.org/config/#head

いい感じのogp画像を作って設定する。

[2018-07-25 07:47] lmiller1990 opened #46 "Reorder pages"
Setting up for TDD should come before two ways to render.

[2018-07-25 08:02] #46 closed

[2018-07-25 08:13] lmiller1990 opened #48 "Make headings and style consistent"
Some pages use #h2, and some #3. All articles should follow the same style. This includes:

- headings
- common sections (such as conclusion, etc)
- all link the the related tests

[2018-07-25 09:34] lmiller1990 commented on #48
resolved in https://github.com/lmiller1990/vue-testing-handbook/commit/cb197334abba337d2aef6f76a8ed42e2ae9026d4

[2018-07-25 09:34] #48 closed

[2018-07-31 05:06] mr-africa opened #50 "Code example repeat typo"
Hello!
Thanks for great guide!
I'm found a typo here:
https://lmiller1990.github.io/vue-testing-handbook/vuex-in-components-mutations-and-actions.html#testing-with-a-real-vuex-store

In the code you repeat twice these lines:

[code]

[2018-08-01 10:56] lmiller1990 commented on #43
#42 was merged, closing this

[2018-08-01 10:56] #43 closed

[2018-08-01 10:58] lmiller1990 commented on #50
Hey @mr-africa , thanks for finding this. A full proofread is definitely in order at some point... would you like to make a PR fixing it? If so, feel free to. It'd be great to grow the contributors.

If you found any particular section useful or want more information, feel free to make an issue. Thanks!

[2018-08-01 11:00] lmiller1990 commented on #35
#51 improves the Japanese readme

[2018-08-01 11:00] #35 closed

[2018-08-01 11:02] lmiller1990 opened #52 "Guide on testing forms and inputs"
There is a PR regarding this #37 in Japanese, but I think it's important to have it in English, too. We should have a guide about testing forms:

- how to use `setValue`, `setChecked` etc for radio buttons/checkboxes
- how to test select/option
- how to test forms in general (`find(Form).trigger('submit.prevent)` etc
- if the form is async (as most are) we need to use `flushPromises` and `await` m

[2018-08-01 23:16] lmiller1990 commented on #15
@Fanyu7 Yes please!!

[2018-08-02 01:03] Fanyu7 commented on #15
@lmiller1990  OK! :D

[2018-08-02 01:07] lmiller1990 commented on #15
You are #2 contributor!

![image](https://user-images.githubusercontent.com/19196536/43556667-eb202400-963b-11e8-96f0-f08c4835c509.png)

[2018-08-02 04:38] mr-africa commented on #50
I'm fix it #54

[2018-08-02 05:54] lmiller1990 commented on #50
Thanks, merged.

[2018-08-02 05:54] #50 closed

[2018-08-02 07:45] mr-africa commented on #50
Thanks, don't forget to update github pages.

[2018-08-03 16:15] lmiller1990 commented on #20
私がやる

[2018-08-08 00:44] ykhirao commented on #44
Why don't you make a favicon at the same time as solving this problem.

[2018-08-08 04:07] #20 closed

[2018-08-08 14:22] lmiller1990 opened #61 "Add contributors list"
We should show the contributors on the main page!

[2018-09-03 03:31] ykhirao commented on #44
@pinball1973b Nice job :+1:

[2018-09-04 06:49] lmiller1990 commented on #44
for some reason the og:image is not showing, I am not sure why.

It should show here, right?

![image](https://user-images.githubusercontent.com/19196536/45014616-263edf80-b05a-11e8-8a1d-2777d216ed0a.png)

[2018-09-04 06:55] lmiller1990 commented on #44
Oh - I see the problem. `<meta name="...">` should be `<meta property="og:image">.

The spec is [here](http://ogp.me/#metadata). Someone should make a PR!

[2018-09-19 06:09] lmiller1990 opened #71 "Improve contributions guidelines"
The source files in the `src` directory are where the information is written, and the markdown files there are turned into HTML by Vuepress. This is not clear from the readme - we should include a section about how to contribute.

[2018-11-23 05:02] t-niiru commented on #44
@lmiller1990 is this done?

![2018-11-23 14 01 51](https://user-images.githubusercontent.com/16680405/48929052-5ba3ec80-ef28-11e8-8cfc-d9953259fb03.png)

[2018-11-23 08:58] lmiller1990 commented on #44
It sure is!

![image](https://user-images.githubusercontent.com/19196536/48934991-c7e71600-ef51-11e8-9671-b97b68621006.png)

Closing.

[2018-11-23 08:58] #44 closed

[2019-03-08 10:42] FrankySnow opened #93 "Wrong implementation in "Simulating user input""
In the "Simulating user input" page, the test still passes even if the `submit` event is not triggered.

Using `v-show` on `div.message` only acts on the CSS, keeping the element in the DOM. You should use `v-if`.

[code]

The implementation in the demo-app repo is correct but this is not the one used in the docs.

[2019-03-18 09:08] tomers opened #95 "Broken link"
In https://lmiller1990.github.io/vue-testing-handbook/finding-elements-and-components.html#finding-components-with-name-and-component
there's a link to https://github.com/vuejs/vue-test-utils/blob/dev/packages/test-utils/src/find-vue-components.js which is broken.

I think the correct link should be https://github.com/vuejs/vue-test-utils/blob/dev/packages/test-utils/src/find.js

[2019-03-19 12:19] blackcloud2333 opened #96 "how to test the watch?"
what i want to know is that how can i test the watch  with vue-test-utils and jest.
i had tried to do like this.
the code above is to featch data from the server,it will return a object of promise
`this.$api.querySexListByGoodsCode(data)`
appointment.js

[code]
appointment.spec.js

[code]
but ,i got the wrong message in my terminal
this is the wrong message :
  [Vue warn]: Computed property "addGo

[2019-03-21 10:49] #95 closed

[2019-03-21 10:52] lmiller1990 commented on #96
Hi @blackcloud2333 , If you can provide a repo I can pull down and run, I can give you some pointers.

[2019-03-21 10:53] lmiller1990 commented on #93
Woah, good catch. Will update this.

[2019-03-21 19:04] FrankySnow commented on #93
I want to thank you for the handbook and this PR. I struggled a lot with this issue before finding the reason.

[2019-03-21 20:32] lmiller1990 commented on #93
No problem... if you have any ideas for guides I'm missing, just make an issue and we can get it added :)

[2019-03-21 20:35] #93 closed

[2019-04-03 12:51] Shinogasa opened #99 "How to fix doc?"
Hi!

Thank you a good vue-testing-handbook!

I found typo in Japanese docs.
I want to fix it, but i don't know how to fix it.

Can i change html file direct? (ex:setting-up-for-tdd.html)
 Or other way?
(Is there a tool to make document?)

thanks！

---

こんにちは！
素敵なテキストをありがとうございます！

日本語のドキュメントにタイポを見つけました．
修正しようと思ったのですが修正の仕方がわかりませんでした．

これは直接htmlファイルを修正して大丈夫でしょうか？
それとも他の方法で修正するのでしょうか？
(ドキュメント生成のためのツール

[2019-04-24 12:08] lmiller1990 commented on #99
こんにちは @Shinogasa 。

1. repoをクローンします。`git clone https://.com/lmiller1990/vue-testing-handbook.git`

2. https://github.com/lmiller1990/vue-testing-handbook/tree/master/docs/jaの中にある`.md`ファイルを好きなように修正してください。`.html`を`vuepress`というツールで`.md`から生成するので修正しなくても大丈夫です。

3. ローカルで見たかったら、`yarn install`を実行して、`yarn dev`で実行してから`localhost:8080`に行きます。

PRをマージしてから、私の方で`yarn docs:build`を実行して、新しいバージョンをリリースします。

よろしくお願いします！

[2019-04-24 12:08] #96 closed

[2019-04-25 00:55] #2 closed

[2019-04-25 00:55] #15 closed

[2019-04-25 00:56] #39 closed

[2019-05-07 16:19] webistomin opened #103 "English-Russian translation"
Hi, thanks for your handbook. It's really cool! I can translate it into Russian if you want :)

[2019-05-14 11:48] Shinogasa commented on #99
ありがとうございます！
Thanks!!

[2019-05-14 11:48] #99 closed

[2019-06-01 06:40] ChangJoo-Park opened #107 "Translate to Korean"
Thank you for your great handbook

[2019-06-01 07:02] #107 closed

[2019-06-02 05:21] lmiller1990 commented on #103
Sure, feel free! :)

[2019-06-12 17:50] beeetooo opened #109 "Add Integration Tests Section with Vuex"
## Description
I have struggled a lot with testing in Vue.js due to a big lack of documentation from the Vue main page. I have found multiple very useful resources and this is actually one of them.
I just want to see how can I help you integrate an `Integration Testing` section, as I see it as a very powerful test that adds TONS of value at the moment of a complete validation of a feature. Just to

[2019-06-13 08:38] lmiller1990 commented on #109
Hi @beeetooo ,

This sounds like a good idea. We have all the parts of an integration test, as such, but a guide combining them all together would be a great addition.

If you want to start drafting something, just make a new page in the `src` directory and maybe add a brief outline. If we can stick to the stack the rest of the handbook uses (jest, axios) that would be great, too.

Alternatively,

[2019-06-20 04:32] beeetooo commented on #109
Yes!! Sorry for not replying, I thought I did haha. Yes! Let me work on this one, it might be a bit delayed but I'll come up with a PR soon in the next two weeks I hope <3 excited about this too!

[2019-07-02 05:35] beeetooo commented on #109
Still working on this one :+1:

[2019-07-03 09:00] lmiller1990 commented on #109
No problem, take your time

[2019-07-08 13:26] #13 closed

[2019-07-08 13:27] #41 closed

[2019-07-08 13:28] lmiller1990 commented on #71
This has been done!

[2019-07-08 13:28] #71 closed

[2019-07-11 17:20] francescq opened #111 "Sample Request: Component - Actions test sample with namespaced modules"
Hello,

I wish to test Vuex store actions in components. The guide provided is very good:
https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/vuex-in-components-mutations-and-actions.md

My problem is our Vuex store has a lot os namespaced modules, 50 aprox.

I cannot find the way to properly test the Component - Action connection without having the replicate the whole store namesp

[2019-07-16 00:30] lmiller1990 commented on #111
Hey @francescq ,

Sure, this should be relatively straight forward. I can work on this during this week. If you have a minimal component and Vuex module, I could use as a base for the example.

[2019-07-17 11:55] lmiller1990 commented on #111
@francescq , is this along the lines of what you mean? https://github.com/lmiller1990/vue-testing-handbook/pull/112

Feel free to leave some comments on the PR, or let me know if you need help with anything else.

[2019-07-17 18:53] francescq commented on #111
Yes, Thank you very much as it's the example I'm looking for.
It shows how to test using a real Vuex store.

As in the example, the Vuex Store must be created with the namespace. Now imagine the app has lots of namespaced modules with 4 layers of nesting (I don't wont to know who decided that...)

As the store grows, the test become unmaintainable.

I wish to be able to use the component and injec

[2019-07-19 15:33] thejcannon opened #113 "Vue Router > Component Guards > beforeRouteLeave doesnt call with "this""
The `beforeRouteLeave` in-component guard [has access to `this`](https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards) but the example doesn't pass in a context.

The example should probably be updated to do something like:
[code]

and probably add an info box about routes that can use `this`

[2019-07-20 11:59] lmiller1990 commented on #111
@francescq , I updated my example - you actually do _not_ need to make the namespaced module at all in the example, since you mock the `dispatch` method entirely. Please see it again.

If you have something else in mind, please post an example component/store combo you are having trouble with and I can try and give you some ideas.

[2019-07-23 07:40] francescq commented on #111
Yes! That's the example I was looking for.

Still I don't think having the namespace inside the component is the most suitable decision yet at least, the test is clean and scalable which is good :)

Many many thanks!

[2019-07-23 22:25] lmiller1990 commented on #111
Not sure what you mean by "the namespace inside the component" - you could consider moving
`"namespaced/very/deeply/testAction"` to a constant file and importing it.

Seems like this helped you. I'll merge the PR and close this, let me know if you need anything else.

[2019-07-23 22:25] #111 closed

[2019-07-24 11:39] lmiller1990 commented on #113
Hm, good point. Would you like to make a PR with this? If not, I am happy to do so.

[2019-07-24 12:20] thejcannon commented on #113
I would love to, but unfortunately it'll be a while before I have the time. I'm happy to review it, however 😄

[2019-07-25 13:59] kahirokunn opened #114 "I have no way to contact you"

[2019-07-25 14:01] kahirokunn commented on #114
Hi 👋
Long time no see you!
I mess you!
I’m drinking with @yk-hirao now.
I want to talk after a long time😆

[2019-07-25 14:02] ykhirao commented on #114
i miss you ; (

[2019-07-25 14:34] kahirokunn commented on #114
@lmiller1990 I miss you 😢

[2019-07-25 23:31] lmiller1990 commented on #114
message me on LINE!

![67585164_2620971481280619_2848879406896644096_n](https://user-images.githubusercontent.com/19196536/61915415-a11d2b80-af87-11e9-9c4e-895205214e27.jpg)

Find me!! I miss you guys too 👍 日本を出て日本語をほぼ使ってなくてまだ喋るのかな 🤔

I want to visit Japan soon! React is too popular, I miss Vue. 👍

[2019-07-26 01:48] kahirokunn commented on #114
Don’t worry!
I’m trying to learning English now!
Let’s talk by English 🤩

[2019-07-26 02:41] ykhirao commented on #114
Thx :+1:

[2019-07-27 15:11] francescq commented on #111
I mean the componen should be module agnostic. It should just use the
injected module and that's it.

The higher component using our component should inject the module and non
our component neither the test should be aware of any namespace.

With the helpers ..mapActions , mapGetters... and so on, vue logs a nice
warning about the module not being found on test.

Missatge de Lachlan <notifications

[2019-09-07 12:45] #103 closed

[2019-09-18 10:05] buntafujikawa opened #119 "Translate vuex getters to Japanese"
@lmiller1990
Hi! May I make a PR?
https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/vuex-getters.md
https://github.com/lmiller1990/vue-testing-handbook/blob/master/src/ja/vuex-getters.md

[2019-09-18 10:16] lmiller1990 commented on #119
@buntafujikawa お願いします！

[2019-09-27 09:41] lmiller1990 opened #121 "Bump versions"
Should bump

- versions of Vuepress
- versions of vue, vue-test-utils etc in the demo app

[2019-09-27 09:44] #119 closed

[2019-10-15 21:48] GustavoEdny opened #122 "pt-br translations"
Hello, I am interested in translating this handbook into Portuguese.

[2019-10-15 22:44] lmiller1990 commented on #122
Hey! More than welcome to make a PR :)

We will likely has some big updates when Vue 3 drops as well, but that's looking like it'll be a while yet.

[2019-10-16 20:04] #113 closed

[2019-10-17 12:11] #37 closed

[2019-10-17 19:17] kolbma opened #124 "Update all tests and exmaples to use latest vue-test-utils (beta 29)"
Hi,

the `router.push()` call in e.g.
https://lmiller1990.github.io/vue-testing-handbook/vue-router.html#writing-the-test
is async and returns a `Promise`.

So the expect afterwards may fail.

Should be something like `await router.push()`.

[2019-10-18 03:28] spencer1573 commented on #121
getting this done now

[2019-10-18 03:31] spencer1573 commented on #121
i'm going to use the latest edge node - 12.12.0 let me know if you want the current latest LTS 10.16.3

[2019-10-18 03:36] lmiller1990 commented on #121
Hey, thanks! Let's go with LTS - I think that's more likely what people will be using in production.

[2019-10-18 03:37] lmiller1990 commented on #121
Will need to make sure you can `cd demo-app`, `yarn install` and `yarn test:unit` works fine as well 👍

[2019-10-18 04:28] spencer1573 commented on #121
complete. see pull request [#125](https://github.com/lmiller1990/vue-testing-handbook/pull/125)

[2019-10-18 04:30] spencer1573 commented on #121
oh crap i did 12.12.0 and i didn't test the demo-app. is it alright if I do that tomorrow?

[2019-10-19 01:51] spencer1573 commented on #121
doing it correctly right now...

[2019-10-19 02:58] spencer1573 commented on #121
ok everything is correct now! more details in the [pull request #126](https://github.com/lmiller1990/vue-testing-handbook/pull/126), all unit tests passed for demo app.

[2019-10-19 09:09] #121 closed

[2019-10-19 09:13] lmiller1990 commented on #124
Hm, can you tell me what version of `vue-test-utils` you are running? All the tests described in this guide are currently passing on CI.

There was a breaking change in `vue-test-utils` regarding sync/async test recently, read more [here](https://github.com/vuejs/vue-test-utils/issues/1137).

I think we will need to update all tests to use the latest version, and add some notes to let people know.

[2019-10-19 09:33] kolbma commented on #124
Ok. Makes sense.
I've just started with Quasar framework and
**@quasar/quasar-app-extension-testing-unit-jest**
requires
**"@vue/test-utils": "^1.0.0-beta.29"**

Was a show stopper to catch this as cause of empty tags in my tests. ;-)

[2019-10-19 10:34] lmiller1990 commented on #124
Glad we figured this out. I'm going to update this issue to be "update examples to use `vue-test-utils` beta-29, and add some notes to make sure all readers are using the latest version.

Thanks!

[2019-10-22 16:59] kimagure44 opened #127 "translate the guide to spanish language"
I would be interested in being able to translate your guide into the Spanish language

[2019-10-22 23:16] lmiller1990 commented on #127
Sure, if you like!

I'll be making a few changes this week for vue-test-utils beta 28 - maybe wait a few days before you get too deep.

[2019-10-23 19:39] kimagure44 commented on #127
ok, I look forward to when I can start doing the translation. Thank you very much and greetings

[2019-10-24 11:48] lmiller1990 commented on #124
Looks like this is not the case - `router.push` is not async. The test passes even with `@vue/test-utils` beta 29!

[2019-10-24 11:49] lmiller1990 commented on #127
Looks like everything is fine, even with `@vue/test-utils` version 29. You can start a translation if you like :)

[2019-10-24 19:32] kolbma commented on #124
Come on @lmiller1990 . This is a typical race condition.
It is async... look at the code https://github.com/vuejs/vue-router/blob/c0d3376f4e3527bd761bd325873366ed74f5736b/src/index.js#L153

[2019-10-25 03:42] lmiller1990 commented on #124
@kolbma Sure. The test still passes under `@vue/test-utils` beta 29, though. I also did a `console.log` of the `wrapper.html()` - it is indeed updated. Looking more closely at the code you linked:

[code]

While it does return a Promise, it seems `this.history.push` is executed immediately (?). I believe you only need to do `await` if you want to verify or assert against something that occurs in t

[2019-10-25 09:25] kolbma commented on #124
Hi @lmiller1990,
a Promise is never ever running synchronously!

[code]

What it makes complicated is, there might be environments **without Promise-support**, and there the **else-block** of `router.push()` is executed **synchronously** and returns nothing.

To handle this, the best solution would be to inject a Promise library if Promise is undefined.

To `await vm.$nextTick()`:
It is documented

[2019-10-25 11:17] lmiller1990 commented on #124
I understand a Promise is not run synchronously; what I don't fully understand is why this still passes when running `yarn test:unit` with the latest version of vue test utils.

If I understood the change log correctly for `vue-test-utils` beta 28, this test should now be failing (it isn't). Why is it not failing? From what I understand, it should be failing (not a race condition, but consistently

[2019-10-25 12:15] kolbma commented on #124
This doesn't fail consistently.
It depends on the **JS engine** pushing the Promise-function to **queue** and **event loop** handles the queue and how the **context switching** is done.
If there is nothing else than the short test, it can be the only possibility to context switch to next. That's why it is "ok" in your test unit, but code is not correct any longer.
But if there is more, there is a

[2019-10-26 08:14] kimagure44 commented on #127
Hi, I have a question, I have already started translating the guide, when I finish translating it, do I request a pull request?

[2019-10-26 09:58] lmiller1990 commented on #124
Ok, that makes sense. I will update this to use `await`.

I'm still not sure which other test(s) should be updated - based on this understanding, it should be _every_ test that relies on the DOM to rerender.

[2019-10-27 23:32] lmiller1990 commented on #127
Ideally we will translate the entire book before merging it in - I understand this is a big task, but I'm not sure a partial translation is ideal.

[2019-10-28 17:57] kimagure44 commented on #127
Ok, when i finished the translate i request a PR.

Thank you very much and greetings

[2019-11-07 23:22] Junkim93 opened #129 "Translate: I wish to translate this guide into Korean."
Hello,

Thanks to your posting, I got help with vue testing.

So, I would be interested to translate your handbook into the Korean language.

[2019-11-09 10:53] lmiller1990 commented on #124
I have updated the guide to include `await wrapper.vm.$nextTick()` where required here: https://github.com/lmiller1990/vue-testing-handbook/pull/130

[2019-11-09 10:53] #124 closed

[2019-11-09 10:56] lmiller1990 commented on #129
Hey @Junkim93 ,

Sure, that's no problem. I prefer to have a complete translation before merging - feel free to open a PR as you work on it. Ideally we will merge after the entire translation is complete.

You are also welcome to post your translations on other blogs or websites as you go :) thanks for your interest in this project!

[2019-11-09 10:56] #61 closed

[2019-11-10 23:25] Junkim93 commented on #129
Got it.
I post on my blog after translation to each chapter.
Then, I will open to PR when I translate all of it.

Thank you for your concern.

[2019-11-11 13:07] lmiller1990 commented on #129
Great. Can you share a link to your blog here, as well? Thanks!

[2019-11-14 11:36] lmiller1990 opened #131 "Add examples for composition API"
Can start by adding some examples using the 2.X plugin, and migrate them to Vue 3 when it (eventually) hits.

[2019-11-14 15:05] Junkim93 commented on #129
Sorry for the late reply.
My blog is below.
https://junkim.netlify.com/posts/testingvue01

Thank you!

[2019-11-15 11:49] lmiller1990 commented on #129
Nice job, I'm so excited to see a Korean translation in progress.  감사합니다 !

[2019-11-21 11:08] lmiller1990 commented on #131
Doneski

[2019-11-21 11:08] #131 closed

[2019-12-08 16:10] tonylua opened #133 "Chinese Translation"
hi, Lachlan!

Thanks for your series of articles that have helped me better understand unit tests in vue.js. I have also tried to translate some of them into Chinese and shared them with more Chinese developers.

Here are some links:

- [Unit Testing the Composition API](https://mp.weixin.qq.com/s/VcyoX3bYLHSBkQD3YW8i4w)
- [Mocking Vue.js global objects in vue-test-utils](https://mp.weixin.qq.com/

[2019-12-12 03:51] Blackgan3 commented on #133
We can do it together

[2019-12-14 23:05] lmiller1990 commented on #133
Hi guys. I prefer to merge when we have a full translation, as opposed to article by article - if that's okay, and you are still interested in doing that, go for it!

Also one problem I'm having is translations get out of date to the "source" (English one) pretty fast. Does anyone have any good solutions for this problem?

[2019-12-15 14:57] tonylua commented on #133
Ok, thanks for the support! I'll talk to @Blackgan3 about how we can work together，and merge as much as possible at once.

[2019-12-15 15:03] tonylua commented on #133
send me a wechat plz.

[2019-12-15 23:08] lmiller1990 commented on #133
Feel free to collaboration here too - open collaboration is the best kind 👍

[2019-12-18 16:17] tonylua commented on #133
Hi, guys

I have done the preliminary work - have folked a [repository](https://github.com/tonylua/vue-testing-handbook) , and have updated the translations of the three articles mentioned earlier

- [composition-api](https://github.com/tonylua/vue-testing-handbook/commit/a25b48ce86be389699102685491b3e0910185dc4)
- [vue-router](https://github.com/tonylua/vue-testing-handbook/commit/9d8e456c653b2cc

[2020-01-01 12:35] Junkim93 commented on #129
Hello @lmiller1990

I will share my progress on Korean translation version.
It was left last 3 articles:
- Vue Router
- Composition API
- Jest-mocking modules

It will expect to finish in the between 2nd and 3rd week of this month, since I need to time for checking my translation.

Too interesting your upcoming course
and happy new year 2020.

[2020-01-01 13:18] lmiller1990 commented on #129
Wow, awesome progress!! Unfortunately Jest-mocking modules does not have an English version yet... I should write that soon.

I'll be give you early access to my course when I have recorded it (still waiting on Vue.js 3 so I can record it, haha). Happy new year to you too!

[2020-01-03 08:12] lmiller1990 opened #135 "Section on factory function technique"
Sometimes a component gets complex, eg:

[code]

Feels bad to copy paste it many times. You can use a factory function, which is discussed [here](https://vuejs.org/v2/cookbook/unit-testing-vue-components.html#Real-World-Example). I think something like this would be useful, and we can go in depth with some interesting examples.

[2020-01-03 08:12] lmiller1990 opened #136 "Testing w/ TypeScript"
TypeScript let's us be even more thorough with our testing. Might be useful to write a bit about it.

[2020-01-08 08:11] tonylua commented on #133
@lmiller1990 the MR is ok，plz check it again :p

[2020-01-08 12:04] lmiller1990 commented on #133
Hey @tonylua / @Blackgan3

Excellent work. I have merged your translation, should live now! Thanks a lot ❤️ 🇨🇳

[2020-01-08 12:04] #133 closed

[2020-01-09 06:09] tonylua commented on #133
@lmiller1990  Thank you for your support & Happy New Year 😄

[2020-01-09 06:19] tonylua commented on #133
and thank my friend @davidkoree for helping to review some articles!

[2020-01-12 04:36] lmiller1990 commented on #135
resolved in #138

[2020-01-12 04:36] #135 closed

[2020-01-14 17:36] emanuelgsouza commented on #122
@GustavoEdny how is the progress for this translation?

[2020-01-24 07:27] do-hyeon89 opened #144 "translate/korean"
try to translate to korean

[2020-01-24 07:27] #144 closed

[2020-01-24 07:57] tonylua commented on #133
Congratulations you on being maintainer of the vue-test-utils project! @lmiller1990

[2020-01-24 10:44] lmiller1990 commented on #133
Oh, thanks @tonylua . I'm excited to be maintaining a project I've spent so long writing about :)

[2020-01-26 03:11] ProfessorTom commented on #52
Was the English guide ever produced?

[2020-01-26 04:15] lmiller1990 commented on #52
@ProfessorTom It was not - I started working on it but realized it's a huge topic, and since most people are using some kind of framework for their forms I didn't end up deciding what to include/not include (vuelidate, vee-validate, Vuetify...).

I'd be happy to write this (or accept a contribution) - any ideas or specific challenges you've encountered testing forms with Vue?

[2020-01-26 04:17] lmiller1990 opened #145 "Vue 3 update"
So I think we should update all the guides for Vue 3. Basically nothing needs to change, but we should also look for common patterns emerging for Vue 3 (composition api?)

Also VTU will likely change for Vue 3 as well - will need to consider this. I think we will need to maintain two versions of the boo, Vue 3 and Vue 3 - after a few months of Vue 3 in the wild, Vue 2 guides will be in maintenance

[2020-02-03 05:45] lmiller1990 commented on #129
Merged!

[2020-02-03 05:45] #129 closed

[2020-03-11 15:49] geoidesic opened #152 "Why is there no ChildComponent spec?"
Hi,
I notice that there is a ParentComponent spec, but not one for the child? Isn't it useful for the child to be tested independently of the parent? I would expect so.

But then what if the child is dependent on the parent?

[2020-03-11 22:27] lmiller1990 commented on #152
Can you give me an example of what you'd like to see tested?

[2020-03-13 19:03] 3nuc opened #154 "Default mocks using deprecated syntax?"
https://lmiller1990.github.io/vue-testing-handbook/mocking-global-objects.html#settings-default-mocks-using-config

It says to import default and set the config on that, but i've found that doesn't work. The vue test utils docs say to import {config} now and that worked for me. https://vue-test-utils.vuejs.org/api/config.html

The default export didn't work for me but it seems weird that I can't d

[2020-03-15 00:39] lmiller1990 commented on #154
I will check this out now.

[2020-03-15 00:46] lmiller1990 commented on #154
Ok you are right - we changed the API (after beta 29 I guess).

I updated it! Thanks a lot!

[2020-03-15 00:46] #154 closed

[2020-04-09 18:16] ravindrap52 opened #158 "not able to test router view default path"
[code]

[2020-04-09 18:18] ravindrap52 commented on #158
In main component i'm rendering Login component via router view the same thing not able to test.

[2020-04-11 10:26] lmiller1990 commented on #158
Very difficult to know what's wrong without seeing `Main.vue`. Please provide a full repository I can pull down and try.

Best to contact me on Vueland discord, either by DM or in the #testing-vue channel.

[2020-04-11 10:26] #158 closed

[2020-04-21 07:04] #152 closed

[2020-04-21 07:04] #122 closed

[2020-04-21 07:05] #114 closed

[2020-04-21 07:18] geoidesic commented on #152
My apologies. Not a well-written issue and looking back at it not even I'm sure what I was asking for. Clearly I didn't understand something. I'll circle back if it comes up again.

[2020-04-22 11:38] webistomin commented on #145
Do you know the approximate release date? 😊

[2020-04-22 11:53] lmiller1990 commented on #145
Probably sometime in the next month. [VTU next](github.com/vuejs/vue-test-utils-next/) works pretty well, the majority of these examples will remain unchanged.

The main updates will be adding some additional examples for composition API users, and probably some TypeScript examples, since that is getting pretty popular now.

[2020-04-29 20:39] enriqg9 commented on #127
I can help translating into spanish as well. @kimagure44 have you made progress with this? @lmiller1990 Should we wait for Vue 3 compatible handbook?

[2020-04-29 23:30] lmiller1990 commented on #127
@enriqg9 probably a good idea to wait, I need to update some things for Vue 3.

[2020-04-29 23:43] kimagure44 commented on #127
Excuse me @lmiller1990 and @enriqg9 , but I've been with a new project since the end of the year and I haven't been able to advance the translation as fast as I would have liked. At the moment I have 30% translated into Spanish. When you have the new changes to Vue 3 continue with the translation

[2020-04-30 08:48] lmiller1990 commented on #127
Ok I will ping you then (sometime in May)

[2020-05-01 14:58] shortpoet opened #160 "Question: How is store used in create warapper?"
Thank you for the excellent guide, it's been instrumental in learning how to test! :)

I'm wondering about passing the vuex store as an option to the mount functions.  I can't seem to find where it's documented in the official vue-test-utils docs.  Those only mention a context object being used solely for functional components.  I dug through the source code as much as I could (mostly using find)

[2020-05-04 09:54] lmiller1990 commented on #160
Hi.

The store can be passed to the mounting options - you can pass anything you would pass to `new Vue({}). It is mentioned in the [tip at the start of this page.](https://vue-test-utils.vuejs.org/api/options.html#mounting-options).

When you create a new Vue app with `new Vue`, you would do something like

[code]

So that's why you can pass it.

Regarding translations, your credentials are impre

[2020-05-04 09:54] #160 closed

[2020-05-04 09:55] #109 closed

[2020-05-04 15:53] LittaPanda commented on #127
Hi guys,
I'd love to help with this.
Just tell me what do you need.
If you guys have a progress list or something like this will be great.
Regards!

[2020-05-06 16:20] shortpoet commented on #160
Thank you very much for the detailed response!  I look forward to that course as soon I'm done with this testing for my resume site.  Coverage starting to look greener :)

[2020-05-06 16:20] shortpoet commented on #127
Same here.  Would be fun to do a collaboration project on this! :)

[2020-05-06 23:05] lmiller1990 commented on #127
While I don't have time to lead a translation (although I'm flattered people want to translate my content) here is what I think would work:

- someone will need to "lead" the project
- said person will fork this book
- he/she will make a GH issue for each article
- assign someone to each article
- merge the translated articles into the fork
- finally, when the book is complete, we merge it back he

[2020-05-09 14:49] LittaPanda commented on #127
Hi!
I'll be pleased to “lead” the translation.
Let me start doing the issues and then assign them.
I'll try to integrate the @kimagure44 job in order to do this faster.
Regards

[2020-05-09 19:33] LittaPanda commented on #127
Hi guys,
Here is the project!
https://github.com/LittaPanda/vue-testing-handbook/projects/2
https://github.com/LittaPanda/vue-testing-handbook

I did created the issues/cards for every single file, so feel free to take as you want.
Regards

[2020-05-10 03:31] enriqg9 commented on #127
@LittaPanda Will try to start contributing in the next days. @lmiller1990 Do you expect a lot of the content changing due to update of Vue 3/VTU?

[2020-05-16 16:23] LittaPanda commented on #127
@shortpoet
Can I assign to you any issue?
Regards

[2020-05-16 16:51] shortpoet commented on #127
@LittaPanda I had mentioned in a separate issue in the handbook that I was in the midst of writing unit tests for my site and would be able to contribute once that was done or close to.  I have 100% coverage on my javascript except for the router which I'm thinking of saving for integration.  Just doing the dotnet core tests now.  Have had to learn all this from scratch pretty much so not sure exa

[2020-05-18 14:13] lmiller1990 commented on #127
@enriqg9 I don't expect the content to change significantly.

Some things like `createLocalVue` do not exist in Vue 3. Is the goal here to provide a translation for for the current book focused on Vue 2, or for the future (Vue 3?)

I still think there is some value in translating for Vue 2; we can likely use around 80% of the content for the Vue 3 edition, too.

Main changes in Vue 3:

- `createLo

[2020-05-18 16:36] enriqg9 commented on #127
@lmiller1990 Awesome, we have started the translation for Vue 2 over at @LittaPanda's repo. Been tied up with a family emergency but will continue contributing when I have some spare time.

[2020-05-18 23:02] lmiller1990 commented on #127
No problem... it's OSS, live needs to come first :)

[2020-09-13 08:08] lmiller1990 commented on #145
I add Vue 3 support. I added it under a locale called `v3`. https://lmiller1990.github.io/vue-testing-handbook/v3/

I am not sure if this will for translations.

The actual changes were *very* minimal. There are hardly any breaking changes between VTU v1 and v2. I am working on documenting them now.

The easiest way for translators to update their docs would be to do a diff between the English doc

[2020-09-13 08:08] #145 closed

[2020-09-13 08:10] lmiller1990 commented on #52
We added this to the official docs, I think that's fine for now: https://vuejs.github.io/vue-test-utils-next-docs/guide/forms.html

[2020-09-13 08:10] #52 closed

[2020-09-13 12:26] Mikilll94 opened #170 "Write something about mocking HTTP services"
I have read the whole handbook. It is great, I appreciate it 👍

However, IMO it lacks information about mocking HTTP services. Currently, I noticed that you only describe how to mock the whole `axios` module which is fine for demonstration purposes. However, in a real-world application, you don't want to do this. Instead, you extract your HTTP communication to separate files most-often called "ser

[2020-09-15 04:49] vborras commented on #127
Hi @LittaPanda! I'm interested in contributing to the translation, but I see there hasn't been any changes in your repo for a while. Are you still working on it? If so, how do we proceed? do you want to assign some issue to me or can I take any one of them?

[2020-09-15 16:36] LittaPanda commented on #127
Hi @vborras. Thanks for your interest. I would be glad if you could help us with this achievement.
I will assign you an issue right now.
Again thanks.

[2020-09-17 02:32] lmiller1990 commented on #170
Yep, I would like to add this for sure. I think we need two sections:

1. add an entire section about jest mocks
2. add something small about mocking axios (or services, or whatever) on the page that talks about mocking axios. It could link to (1)

There is actually a placeholder for this (last page of the handbook, about Jest mocks).

Are either of these something you are interested in contributi

[2020-10-21 12:13] geoidesic opened #172 "The information about testing Vuex getters is wrong"
Firstly the link to GitHub at the bottom of this page is broken: https://lmiller1990.github.io/vue-testing-handbook/vuex-getters.html#testing-getters

Secondly this guide recommends that one should manually pass in state to the getters and that they are "just ordinary functions". But this isn't true:
A) Getters are used directly as values, not called as functions and
B) these examples do not deal

[2020-10-21 12:18] geoidesic commented on #172
Is this a bug in `vue-test-utils`?
Or is there a correct way to handle this that can be added to the documentation here?

[2020-10-27 09:03] lmiller1990 commented on #172
Hi!

I should probably update this section of the book, I wrote it many years ago at this point. You are correct in saying that if you are using the second argument which is other getters, this strategy will *not* work.

I will have a think about how to handle, please wait a bit.

[2020-11-11 06:58] ismatech opened #173 "How does bustCache work?"
Hi!
This is more of a question than an issue.
I am learning JEST testing of Vue components on your site.
And when I reached topic about Router you showed some bust-сache.js which just export function bustCache with empty body.
Did you do that just for a demonstration of some script which could do some functionality?
Or it really works? And my main question is If it so then how does it work?

[2020-11-12 12:47] lmiller1990 commented on #173
This was just an example for a strategy to test a router guard. Bust cache does not actually exist in the example. Is that what you mean?

[2020-11-27 08:01] ismatech commented on #173
Yes, it's what I meant. Thanks.

[2020-11-27 09:22] #173 closed

[2020-11-27 09:23] lmiller1990 commented on #172
I am going to rewrite the Vuex section soon. I will close this. Let me know if you have any other questions.

[2020-11-27 09:23] #172 closed

[2020-12-03 02:10] huntz20 opened #174 "Translate guide to Bahasa"
Hei can i support this awesome guide to bahasa ??

[2020-12-11 09:41] lmiller1990 commented on #174
Sure, I don't generally want to merge incomplete translations, though. An alternative would be translate articles 1 by 1 and post it to your own blog. When you finish the full translation, we could merge it.

[2021-03-21 12:23] lmiller1990 commented on #174
Close due to lack of activity. Will reopen if something changes.

[2021-03-21 12:23] #174 closed

[2021-03-21 12:24] lmiller1990 commented on #127
Close due to lack of activity. Can reopen if progress starts up again.

[2021-03-21 12:24] #127 closed

[2021-05-13 11:31] bikingbadger commented on #136
As part of #184 I am writing the code in TypeScript. I am only learning so full use might be above my current level but more than willing to learn and create examples and where possible more docs.

[2021-06-02 08:18] bikingbadger opened #185 "Vue 3 and emitted events"
With the composition API in Vue 3 and emit not being available in the composition API but should be passed as a parameter I wonder if there should be some mention of it in [Testing emitted events](https://lmiller1990.github.io/vue-testing-handbook/v3/testing-emitted-events.html#testing-emitted-events).

[code]

I didn't see this in the Composition chapter and thought that maybe it might need to be

[2021-06-07 00:44] lmiller1990 commented on #185
We could add a mention that `emitted` works fine with the Composition API.

We might need to rethink "Testing events without mounting the component". I don't think the `call` hack is going to work with the Composition API.

[2021-08-09 14:52] Thomasan1999 opened #190 "Typo in v3/stubbing-components.md"
In **Write a test using `mount`** section, there is a sentence:

I'm sure "a takes a component" is not correct but I'm not sure what to replace it with. Should it have been "and takes a component"?

[2021-08-09 15:52] webistomin commented on #190
I think it should have been "it takes a component as the argument"

[2021-08-09 18:30] Thomasan1999 commented on #190
I see. Should I make a PR or leave it up to you?

[2021-08-10 06:46] webistomin commented on #190
You can push one more commit to your PR.

[2021-08-10 09:42] #190 closed

[2021-08-10 10:20] #185 closed

[2021-10-09 22:09] Ti-webdev opened #191 "typo yarn unit:pass in vuex-actions.md"
It should be `yarn test:unit`

[2021-11-13 08:00] #191 closed

[2021-12-29 23:16] sethPoulin opened #195 "jest.init.js does not load before test runs by default"
In the chapter `mocking-global-objects.md`,  it's suggested to add the mock for the i18n library to the `jest.init.js` file, since this file "is loaded before the tests are run automatically."  But this needs to be expressly configured by adding the following to the `jest.config.js` file:

[code]
I'd suggest you add this to the documentation or suggest that users of the testing guide copy the `jes

[2022-01-01 09:31] lmiller1990 commented on #195
Good idea, I'd like to add this. Thanks for pointing this out!

[2022-01-03 00:32] Yan-Thomas opened #196 "Brazilian Portuguese translation"
First and foremost, thanks for this amazing guide on how to test Vue.js components!

I have seen there was a previous attempt at translating this guide to pt-BR (see #122), but looks like it was unfortunately abandoned.

As a matter of context, I'm currently teaching Vue.js to some students at my school, so translating this would be a perfect opportunity to lend them a great material on component

[2022-01-05 02:21] sethPoulin commented on #195
Sure, I'd be happy to.

[2022-02-14 19:05] ehsan-shv opened #198 "testing an Emitted Events"
In a situation that we want to test just emitting event to parent, what can we  do?
For example, we have an event emitter like this:  `emit('onInputButtonClick');` and this event emitter just emits an event to the parent without sending any data.

[2022-02-16 02:00] lmiller1990 commented on #196
Cool, thanks for the effort. Happy to have translations, but only if they are complete (eg, not looking to accept a PR translating half the content).

[2022-02-16 02:02] lmiller1990 commented on #198
Assert that `emitted()` contains the expected property, in this case `expect(wrapper.emitted().onInputButtonClick).toHaveLength(1)`.

[2022-02-16 02:02] #198 closed

[2022-02-16 02:02] #195 closed